* {
    margin: 0;
    padding: 0;
}

div {
    width: 360px;
    height: 410px;
    border: 3px solid red;
}

.main_div {
    border: 10px solid cadetblue;

    position: absolute;


}

/*  

    top: 450px;
    right: ;
    left 600px;
    position: 5 მნიშნელობა;

     1. static - არის position თვისების default მნიშნელობა

     2. relative - როდესაც ჩვენ ელემენტს მივანიჭებთ relative - ს და მასზე გამოვიყენებთ პოზიცის შეცვლისთვის საჭირო
     თვისებებს, მაგ დროს ელემენტი შეიცვლის ადგილმდებარეობას, იქიდან საიდანაც არის

     3. absolute - როდესაც ჩვენ ელემენტს მივანიჭებთ absolut - ს და მაზე გამოვიყენებთ პოზიცის შეცვლისთვის
     საჭირო თვისებებს, მაგ დროს ელემენტი დაიწყებს ელემენტი პოზიციის შეცვლას მაღლა მარცხენა კუთხიდან

     4. fixed - როდესაც ელემენტს მივანიჭებთ fixed - ს, მაშინ ის ელემენტი გამოგვყება ჩვენ სქროლვის დროს
     (მაღლა სქროლვის ან დაბლა სქროლვის დროს ---- ორივე შემთხვევაშ)

     5. sticky - როდესაც ელემენტს მივანიჭებთ sticky - ს, მაშინ ის ელემენტი გამოგვყება ჩვენ სქროლვის დროს
     როდესაც ჩვენ გავცდებით მის პოზიციას, ხოლო მაღლა ამოსქროლვის დროს,
      როდესაც ელემენტი მივა თავის default პოზიციაზე, მაგ დროს იგი შეწყვიტავს გამოყოლას

      ჩვენ შეგვიძლია ვაკონტროლოთ ელემენტის მიმართულება.

      როდესაც top - ზე, მივანიჭებ 0px - ს, მაშინ ელემენტი გამოყვება სქროლ ბარს ქვემო მიმართულებით,
      ხოლო როდესაც ზემო მიმართულება წავა, მაშინ უკვე შეწყვიტავს მოქმედებას, მაგრამ თუ ჩვენ bottom - ზე
      მიწანიჭებთ 0px - ს, მაშინ ელემენტი ორივე მიმართულებით გაანახლებს მოზრაობას/ქმედებას.

*/