/*h1{
    color: red;
    /*
    uppercase - ზრდის ასო ბგერას
    lowercase - აპატარევენს ასო ბგერას
    capitalize - სიტყვის პირველ ასოს ადიდებს
    */
    /*text-transform: capitalize;*/
/*}*/

/*h1{
    /*
     underline - ქვედა ხაზი
     overline - ზედა ხაზი
     line-throught - შუაში გასმული ხაზი 
     none - დეკორაციას უშლის
    */
    /*text-decoration: none;*/
/*}*/

/*a{
    text-decoration: none;
}*/

/*h1{
    color: red;
    /*
    1. first value - ცვლის ჩრდილიდ პოზიციას ჰორიზონტალურ ხაზე

    2. second value - ცვლის ჩრდილიდ პოზიციას ვერზიკალურ ხაზე

    3. third value - ჩრდილსმიანიჭოს ბინდი

    4. fourth value - ჩრდილს მიანიჭოს ფერი
    */
    /*text-shadow: 130px 20px 5px black;
}*/

/*h1{
    text-align: center;
}*/

/*h1{
     line-height - ქმნის დაშორებას ხაზებს შორის 
    line-height: 3;
}*/

/*h1{*/
    /* letter-spaicing - ქმნის დაშორენას ასობგერებს შორის*/
    /* letter-spacing: 10px;*/

   /* world-spacing - ქმნის დაშორებას სიტყვებს შორის */

    /* word-spacing: 5px; */



/*}*/

div{
    width: 400px;
    height: 400px;
    background-color: rgb(105, 27, 27);

    /* border-width: 5px;
    border-style: solid;
    border-color: green; */

    /* border: 10px dotted darkblue; */
    /*border-top: 10px solid black;
    border-right: 15px dotted orange;
    border-bottom: 25px dashed green;
    border-left: 30px groove blue;*/

   /*
   1. border-top-left-radius: 10px;
   2. border-top-right-radius: 20px;
   3. border-bottom-right-radius: 35px;
   4. border-bottom-left-radius: 50px; */
/*                   1.   2.  3.    4.  */
    border-radius: 10px 20px 35px 50px;


}

div h1{
    color: blue;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
